################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/ProjetoModeloDDD.Application/obj/Debug
/ProjetoModeloDDD.Application/bin/Debug
/ProjetoModeloDDD.Domain/obj/Debug
/ProjetoModeloDDD.Domain/bin/Debug
/ProjetoModeloDDD.Infra.Data/obj/Debug
/ProjetoModeloDDD.Infra.Data/bin/Debug
/ProjetoModeloDDD.MVC/obj/Debug
/ProjetoModeloDDD.MVC/bin/Debug
*.sqlite
/.vs/ProjectSettings.json
/.vs/ProjetoModeloDDD/v17/HierarchyCache.v1.txt
/.vs/VSWorkspaceState.json

/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/ProjetoModeloDDD.MVC/App_Data/ProjetoModeloDDD_log.ldf
/ProjetoModeloDDD.MVC/App_Data/ProjetoModeloDDD.mdf
*.mdf
*.ldf
*.v1
*.v2
*.vsidx
*.lock
*.testlog
*.manifest
*.v2
*.v1
*.dbtcache.v2
*.dbtcache